# Android/IntelliJ/VS Code
.gradle/
build/
captures/
local.properties
.DS_Store
*.iml
.idea/
!.idea/runConfigurations.xml
.kotlin/

# Web
node_modules/
.npm
dist/
out/
*.log

# PWA
sw.js.map

# Diversos
DelyveryApps/
